#login_button{
    display: block;
    padding: 12px 20px;
    background-color: #3425aa;
    text-align: center;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}
#login_button:hover{
    background-color: #0c0065;
    cursor: pointer;
}
